body {
    background: linear-gradient(to right, rgb(103, 103, 255), rgb(255, 121, 121));
    margin: 0;
    height: auto;
    padding: 0;
    background-repeat: no-repeat;

}

#botaoini {
    padding: 20px;
    width: 200px;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
}
#botaoini:hover {
    transition: 400ms ease;
    background-color: rgb(255, 196, 208);
    color: rgb(50, 3, 3);

}

#texto-botao {
    display: grid;
    justify-items: center;
   
}

#box-inicial {
    margin: 50px;
    background-color: crimson;
    height: 500px;
    border-radius: 10px;
}
h2 {
    text-align: justify;
    font-size: 48px;
    width: 500px;
    color: white;
}
#foto_texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    
}

#foto_ini {
    height: 400px;
    margin-top: 50px;
    border-radius: 10px;
}


.login-box {
    height: 500px;
    background-color: crimson;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    justify-items: center;
}

#inputs {
    margin: auto;
    display: grid;
    align-items: center;
}

input {
    margin: 5px;
    padding: 3px;
    width: 250px;
}

#inputs button {
    margin: 10px;
    cursor: pointer;
    width: 250px;
}
